Repository Everythingmaybe/angular-youtube-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, stylelint --fix

1
  src/app/features/sidenav/components/sidenav-sections/explore-links/explore-links.component.ts
  src/app/features/sidenav/components/sidenav-sections/general-links/general-links.component.ts
  src/app/features/sidenav/components/sidenav-sections/more-links/more-links.component.ts
  src/app/features/sidenav/components/sidenav-sections/other-links/other-links.component.ts
Due: ng-lint-staged lint --fix --

1
  src/app/pages/home/home.component.html
  src/app/shared/components/chips/chips.component.html
  src/app/shared/components/chips/chips.component.scss
  src/app/shared/components/chips/chips.component.ts
Due: ng-lint-staged lint --fix --, stylelint --fix

Change style
  src/app/features/header/components/searchbox/searchbox.component.scss
  src/app/features/header/header.component.html
  src/app/features/header/header.component.scss
  src/app/features/sidenav/components/explore-links/explore-links.component.html
  src/app/features/sidenav/components/explore-links/explore-links.component.ts
  src/app/features/sidenav/components/general-links/general-links.component.html
  src/app/features/sidenav/components/general-links/general-links.component.ts
  src/app/features/sidenav/components/mini-sidenav/mini-sidenav.component.html
  src/app/features/sidenav/components/mini-sidenav/mini-sidenav.component.scss
  src/app/features/sidenav/components/mini-sidenav/mini-sidenav.component.ts
  src/app/features/sidenav/components/more-links/more-links.component.html
  src/app/features/sidenav/components/more-links/more-links.component.ts
  src/app/features/sidenav/components/other-links/other-links.component.html
  src/app/features/sidenav/components/other-links/other-links.component.ts
  src/app/features/sidenav/components/sidenav-footer/sidenav-footer.component.html
  src/app/features/sidenav/components/sidenav-footer/sidenav-footer.component.scss
  src/app/features/sidenav/components/sidenav-footer/sidenav-footer.component.ts
  src/app/features/sidenav/components/sidenav-sections/sidenav-footer/sidenav-footer.component.html
  src/app/features/sidenav/components/sidenav-sections/sidenav-footer/sidenav-footer.component.scss
  src/app/features/sidenav/sidenav.component.html
  src/app/features/sidenav/sidenav.component.scss
  src/app/features/sidenav/sidenav.module.ts
  src/app/shared/components/button/button.component.scss
  src/app/shared/components/chips/chip/chip.component.scss
  src/app/shared/components/chips/chips.component.html
  src/app/shared/components/chips/chips.component.scss
  src/app/shared/components/chips/chips.component.ts
  src/app/shared/components/list/list-item/list-item.component.scss
  src/app/shared/components/list/list-title/list-title.component.scss
  src/app/shared/components/list/list.component.scss
  src/styles.scss
Due: ng-lint-staged lint --fix --, stylelint --fix

Add tooltip
  package-lock.json
  package.json
  src/app/features/header/header.component.html
  src/app/features/header/header.component.scss
  src/app/features/header/header.module.ts
  src/app/features/sidenav/components/general-links/general-links.component.html
  src/app/shared/components/icon-button/icon-button.component.scss
  src/app/shared/components/icon/icon.component.ts
  src/app/shared/components/list/list-item/list-item.component.scss
  src/app/shared/components/tooltip/tooltip-position.ts
  src/app/shared/components/tooltip/tooltip.component.html
  src/app/shared/components/tooltip/tooltip.component.scss
  src/app/shared/components/tooltip/tooltip.component.ts
  src/app/shared/components/tooltip/tooltip.directive.ts
  src/app/shared/components/tooltip/tooltip.module.ts
  src/styles.scss
Due: ng-lint-staged lint --fix --, stylelint --fix

1
  src/app/features/sidenav/components/explore-links/explore-links.component.html
  src/app/features/sidenav/components/explore-links/explore-links.component.ts
  src/app/features/sidenav/components/general-links/general-links.component.html
  src/app/features/sidenav/components/general-links/general-links.component.ts
  src/app/features/sidenav/components/sidenav-footer/sidenav-footer.component.html
  src/app/features/sidenav/components/sidenav-footer/sidenav-footer.component.scss
  src/app/features/sidenav/components/sidenav-footer/sidenav-footer.component.ts
  src/app/features/sidenav/components/sign-in/sign-in.component.html
  src/app/features/sidenav/components/sign-in/sign-in.component.scss
  src/app/features/sidenav/components/sign-in/sign-in.component.ts
  src/app/features/sidenav/constants/sidenav-links.ts
  src/app/features/sidenav/models/sidenav-link.model.ts
  src/app/features/sidenav/sidenav.component.html
  src/app/features/sidenav/sidenav.module.ts
  src/app/pages/home/home.component.html
  src/app/shared/components/drawer/drawer.component.html
  src/app/shared/components/drawer/drawer.component.scss
  src/app/shared/components/list/list.component.scss
  src/styles.scss
Due: ng-lint-staged lint --fix --, stylelint --fix

1
  .lintstagedrc.json
  src/app/features/video/components/video-card/video-card.component.html
  src/app/features/video/components/video-card/video-card.component.scss
  src/app/features/video/components/video-card/video-card.component.ts
  src/app/features/video/models/video.model.ts
  src/app/pages/home/home.component.html
  src/app/pages/home/home.component.scss
  src/app/pages/home/home.component.ts
  src/app/pages/home/home.module.ts
  src/app/pages/home/services/home-api.service.ts
  src/app/shared/components/grid/grid-item/grid-item.component.html
  src/app/shared/components/grid/grid-item/grid-item.component.scss
  src/app/shared/components/grid/grid-item/grid-item.component.ts
  src/app/shared/components/grid/grid.component.html
  src/app/shared/components/grid/grid.component.scss
  src/app/shared/components/grid/grid.component.ts
  src/app/shared/components/grid/grid.module.ts
  src/styles.scss
Due: ng-lint-staged lint --fix --, stylelint --fix

1
  .browserslistrc
  package-lock.json
  package.json
  src/app/features/header/header.module.ts
  src/app/features/sidenav/sidenav.module.ts
  src/app/features/video/components/video-card/video-card.component.ts
  src/test.ts
  tsconfig.json
Due: ng-lint-staged lint --fix --

2
  package-lock.json
  package.json
Due: none

3
  angular.json
  package-lock.json
  package.json
  src/app/features/video/components/video-card/video-card.component.html
  src/app/features/video/components/video-card/video-card.component.scss
  src/main.ts
  src/polyfills.ts
  tsconfig.app.json
  tsconfig.spec.json
Due: ng-lint-staged lint --fix --, stylelint --fix

3
  package-lock.json
Due: none

3
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/features/header/header.component.html
  src/app/features/header/header.module.ts
  src/app/features/video/components/video-card/video-card.component.html
  src/app/features/video/components/video-card/video-card.component.scss
  src/app/features/video/components/video-card/video-card.component.ts
  src/app/pages/home/home.component.html
  src/app/pages/home/home.component.scss
  src/app/pages/home/home.component.ts
  src/app/pages/home/home.module.ts
  src/app/shared/components/button/button.component.ts
  src/app/shared/components/grid/grid-item/grid-item.component.scss
  src/app/shared/components/grid/grid-item/grid-item.component.ts
  src/app/shared/components/grid/grid.component.scss
  src/app/shared/components/grid/grid.module.ts
  src/app/shared/components/image/image.component.html
  src/app/shared/components/image/image.component.scss
  src/app/shared/components/image/image.component.ts
  src/app/shared/services/loading.service.ts
  src/styles.scss
Due: ng-lint-staged lint --fix --, stylelint --fix

Path conditions:
  ng-lint-staged lint --fix --: any of: *.{js,ts,html}
  stylelint --fix: any of: *.{css,scss}
